<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chenshi.db01</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/chenshi/WorkBuddy/Claw/v74/data/db01_launchd.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/chenshi/WorkBuddy/Claw/v74/data</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key><integer>17</integer>
            <key>Minute</key><integer>0</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>17</integer>
            <key>Minute</key><integer>0</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>17</integer>
            <key>Minute</key><integer>0</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>17</integer>
            <key>Minute</key><integer>0</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>17</integer>
            <key>Minute</key><integer>0</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/chenshi/WorkBuddy/Claw/v74/data/logs/db01_launchd.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/chenshi/WorkBuddy/Claw/v74/data/logs/db01_launchd_error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>V9_SMTP_PASS</key>
        <string>ngrzdzjuhwfnbgbh</string>
    </dict>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
