<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chenshi.tushare_poll</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/chenshi/WorkBuddy/Claw/v74/data/tushare_poll_download.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/chenshi/WorkBuddy/Claw/v74/data</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key><integer>15</integer>
            <key>Minute</key><integer>30</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>15</integer>
            <key>Minute</key><integer>30</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>15</integer>
            <key>Minute</key><integer>30</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>15</integer>
            <key>Minute</key><integer>30</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>15</integer>
            <key>Minute</key><integer>30</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/chenshi/WorkBuddy/Claw/v74/data/logs/tushare_poll_launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/chenshi/WorkBuddy/Claw/v74/data/logs/tushare_poll_error.log</string>
</dict>
</plist>
